---
import axios from "axios";
import CenteredContentLayout from "../layouts/CenteredContentLayout.astro";
import Layout from "../layouts/Layout.astro";
const timestamp = Date.now();
const response = await axios.get(
  `${import.meta.env.PUBLIC_SERVER_URL}/stripe/products?timestamp=${timestamp}`
);
const monthly = response.data.pricing[0].unit_amount / 100;
const oneTime = response.data.pricing[1].unit_amount / 100;
---

<Layout title="Cenník">
  <CenteredContentLayout>
    <div class="w-full md:w-2/3 text-center">
      <p class="text-3xl text-white">Cenník</p>
      <p class="text-lg text-kryptokurz-gray my-4">
        Investovanie do kryptomien môže viesť k peňažnej strate. Kryptokurz.sk
        nie je zodpovedný za stratu peňazí a neposkytuje finančné poradenstvo.
        Poskytuje vzdelanie a informácie potrebné k vlastnej analýze trhu.
      </p>
      <p class="text-base text-white mt-8">
        Kurz je založený na videách. Videá sú zložené z animácií, prezentácií a
        nahrávok obrazovky. Učastník dostane prístup k jednemu videu týždenne a
        k súkromnému Discord serveru.<br /><br />
        Prístup na exkluzívny Discord server s ostatnými účastníkmi, absolventmi
        a coachom pre pomoc a akékoľvek otázky, na vždy!
      </p>
      <article
        class="py-16 lg:py-10 flex items-center justify-center w-full h-full gap-2 gap-y-4 flex-wrap lg:flex-nowrap"
      >
        <section
          class="w-full h-[600px] flex flex-col items-center justify-between rounded shadow-2xl p-4"
        >
          <div class="flex flex-col justify-center items-center">
            <svg
              class="text-kryptokurz-green w-16 h-16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              ><path
                data-name="layer2"
                d="M24 52a8 8 0 018 8V16a8 8 0 00-8-8H2v44zM54 8h8v44H40a8 8 0 00-8 8"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"></path><path
                data-name="layer2"
                d="M32 16a8 8 0 018-8h2"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"></path><path
                data-name="layer1"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                d="M54 26l-6-4-6 4V4h12v22z"
                stroke-linejoin="round"
                stroke-linecap="round"></path>
            </svg>
            <p class="text-kryptokurz-gray text-lg">Dostupné</p>
            <p class="text-white font-semibold text-3xl p-6">Kryptokurz</p>
            <div class="text-white text-base">
              <p class="p-1">
                14 hodín kontentu v 11 videách<br />
              </p>
              <p class="p-1">
                Úplne základy, až po pokročilé stratégie<br />
              </p>
              <p class="p-1">
                Po technologickej aj po investičnej stránke<br />
              </p>
              <p class="p-1">Prístup do exkluzívneho Discord serveru</p>
            </div>
          </div>
          <section class="w-full">
            <span class="p-4 text-white text-2xl"
              >{`${oneTime.toString()}€` || "Nedostupné"}</span
            >
            <a
              href="https://client.kryptokurz.sk/register"
              class="text-white bg-kryptokurz-green flex items-center mt-3 justify-center w-full h-10 rounded"
              >Registrácia</a
            >
          </section>
        </section>

        <section
          class="w-full h-[600px] flex flex-col items-center justify-between rounded shadow-2xl p-4"
        >
          <div class="flex flex-col items-center">
            <svg
              class="text-kryptokurz-green w-16 h-16"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              ><path
                data-name="layer2"
                d="M24 52a8 8 0 018 8V16a8 8 0 00-8-8H2v44zM54 8h8v44H40a8 8 0 00-8 8"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"></path><path
                data-name="layer2"
                d="M32 16a8 8 0 018-8h2"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                stroke-linejoin="round"
                stroke-linecap="round"></path><path
                data-name="layer1"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="2"
                d="M54 26l-6-4-6 4V4h12v22z"
                stroke-linejoin="round"
                stroke-linecap="round"></path>
            </svg>
            <p class="text-kryptokurz-gray text-lg">Dostupné</p>
            <p class="text-white font-semibold text-3xl p-6">Kryptokurz</p>
            <div class="text-white text-base">
              <p class="p-1">
                14 hodín kontentu v 11 videách<br />
              </p>
              <p class="p-1">
                Úplne základy, až po pokročilé stratégie<br />
              </p>
              <p class="p-1">
                Po technologickej aj po investičnej stránke<br />
              </p>
              <p class="p-1">Prístup do exkluzívneho Discord serveru</p>
              <p class="p-1">3 Mesačný predplatný plán</p>
              <p class="p-1">
                Automatické zrušenie predplatného po zaplatení 3 mesiacov
              </p>
            </div>
          </div>
          <section class="w-full">
            <span class="p-4 text-white text-2xl"
              >{`${monthly.toString()}€/mes.` || "Nedostupné"}</span
            >
            <a
              href="https://client.kryptokurz.sk/register"
              class="text-white bg-kryptokurz-green flex items-center mt-3 justify-center w-full h-10 rounded"
              >Registrácia</a
            >
          </section>
        </section>
      </article>
    </div>
  </CenteredContentLayout>
</Layout>
