---
import CenteredContentLayout from "../layouts/CenteredContentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQ ">
  <CenteredContentLayout>
    <p class="text-white text-3xl lg:text-4xl py-10">Často Kladené Otázky</p>
    <article
      class="flex flex-wrap gap-8 justify-center w-full py-2 lg:p-0 lg:w-2/3"
    >
      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Čo je to kryptomena?</p>
        <p class="text-kryptokurz-gray text-md">
          Kryptomena je digitálne aktívum, ktoré je používané pre vedenie
          transakcií na jej blockchaine.<br /> Táto programovateľná mena má vlastnosti,
          ktoré sú určené jej vývojármi ako sú napríklad jej inflácia, deflácia,
          maximálne množstvo mincí, emisie, odmeny za údržbu blockchainu, škálovacie
          riešenia, atd.
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Čo je to DeFi?</p>
        <p class="text-kryptokurz-gray text-md">
          Skratka pre "Decentralizované Financie".<br /> Je to nová finančná technológia,
          ktorej cieľom je decentralizovať finančný systém, resp. ponúkať finančné
          produkty a služby pomocou techonlógie blockchainu bez ohľadu na status,
          pohlavie, finančnú históriu, rasu, pôvod, bydlisko a ďalších faktorov,
          na ktoré tradičný finančný trh môže brať ohľad.<br />
          Sporiace účty, fondy, dlhopisy, poistenia, úvery a podobné finančné produkty
          a služby sú vďaka DeFi dostupné aj bez bánk a finančných inštitúcií pre
          každého, kto má prístup k internetua vie ako na to, väčšinou aj za zlomok
          ceny!
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Čo je to Blockchain?</p>
        <p class="text-kryptokurz-gray text-md">
          Decentralizovaný, nezmeniteľný, open-source a transparentný zoznam
          transakcií, na základe ktorého fungujú kryptomeny.<br /> Je to technológia,
          ktorá je schopná viesť svoj vlastný finančný systém bez potreby zásahu
          ľudskou rukou vďaka kódu, ktorý je sebestačný na jeho prevádzku.
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Koľko môžem najmenej investovať?</p>
        <p class="text-kryptokurz-gray text-md">
          Kryptomena je digitálne aktívum, ktoré je používané pre vedenie
          transakcií na jej blockchaine.<br /> Táto programovateľná mena má vlastnosti,
          ktoré sú určené jej vývojármi ako sú napríklad jej inflácia, deflácia,
          maximálne množstvo mincí, emisie, odmeny za údržbu blockchainu, škálovacie
          riešenia, atd.
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Čo je to Web3?</p>
        <p class="text-kryptokurz-gray text-md">
          Web 2.0 a Web 3.0 označujú postupné iterácie webu v porovnaní s
          pôvodným Webom 1.0 z 90-tých rokov. Web1 poskytoval ľudom prístup na
          statické web stránky, ktoré boli pre každého rovnaké a jednosmerné
          (iba na čítanie). Web 2.0 je súčasná verzia internetu, ktorá nám
          umožnuje komunikovať nie len s webstránkami ale aj medzi sebou s ich
          pomocou, pričom sú tieto web stránky šité uživateľom na mieru, zatiaľ
          čo Web 3.0 (alebo skrátene web3) predstavuje jeho ďalšiu fázu, ktorá
          bude decentralizovaná (nebude vlastnená top korporátmi na svete ako
          dnes, ale samotnými použivateľmi).
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">
          Je investovanie do kryptomien bezpečné?
        </p>
        <p class="text-kryptokurz-gray text-md">
          Investovanie do kryptomien je len tak bezpečné ako si to sami urobíme.
          Preto je veľmi dôležité sa naučiť ako tento priestor funguje, a ako
          funguje aj samotná technológia na ktorej sa tento nový priemysel
          zakladá. Potenciálne riziko záleži od toho kde a do čoho investujeme.
          Samozrejme kúpiť a držať Bitcoin na najväčšej burze na svete môže byť
          veľmi bezpečné, aj keď aj to sa tiež nezaobíjde bez rizík. Zatiaľ čo
          prebrať zodpovednosť za vlastnú peňaženku a investovať do DeFi
          protokolov na vlastnú päsť znie nebezpečne, pri správnom vzdelaní to
          môže byť naopak bezpečnejšie nez používanie centralizovanej burzy.
          Tiež je dôležité spomenúť že ľudia chodia do DeFi pretože krypto trh
          odmieňa skorých investorov, napríklad ako investorov ktorý majú niečo
          čo na veľkých burzách ešte nie je. Risk je zisk! (väčšinou :D)
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">Ako môže moje krypto zarábať úroky?</p>
        <p class="text-kryptokurz-gray text-md">
          Svoje krypto môžeš dočasne, na dobu neurčitú, alebo aj určitú,
          uzamknúť do DeFi protokolu, ako napríklad do decentralizovanej burzy,
          ktorá ti za poskytovanú likviditu zaplatí percentami z poplatkov ktoré
          zarobí. No toto je iba jeden z veľa príkladov a možností je na trhu
          veľmi veľa vo všetkých rizikových katergoriách! Samozrejme, čím výššie
          riziko, tým vyšší potenciálny zisk (alebo strata), niekomu vyhovuje
          zarábať garantovaných 8% ročne na stablecoinoch, niekto zase rád
          riskuje s protokolmi ktoré vyplácajú stovky percent s vysokým rizikom.
          V tomto kurze preberám všetky rizikové katergórie!
        </p>
      </section>

      <section
        class="ring-1 ring-kryptokurz-gray p-6 w-full lg:w-[500px] min-h-72"
      >
        <p class="text-white text-2xl mb-3">
          Prečo sa oplatí investovať do Krypta a DeFi?
        </p>
        <p class="text-kryptokurz-gray text-md">
          Okrem toho že krypto poháňa rastúcu technológiu blochckainu, ktorá je
          využívaná čoraz viac, realita je takáto: Iba okolo 3% ľudí na svete
          vlastní krypto. Ešte stále sme skoro! Nasledujúcich 20 rokov sa bude
          diať "Veľký Prevod Bohatstva", kde sa $30-68 trilionov zdedí zo
          starších generácií mileniálom a gen z, ktorí spolu vlastnia 95%
          všetkého krypta na svete. Čo si myslíte že sa stane keď mladí ľudia
          sveta kolektívne zdedia takéto množstvo peňazí? Ja si myslím že veľa z
          nich nepôjde do indexových fondov, ale do krypta. DeFi dáva veľa
          kryptomenám a tokenom účel a potrebné vlastnosti, vďaka ktorým majú
          hodnotu!
        </p>
      </section>
    </article>
  </CenteredContentLayout>
</Layout>
