---
import CenteredContentLayout from "../layouts/CenteredContentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt">
  <CenteredContentLayout>
    <div class="flex flex-col justify-center  items-center p-4">
        <p class="text-white text-3xl font-semibold py-4 text-center">Zásady spracovania a ochrany osobných údajov</p>
        
        <section class="text-kryptokurz-gray w-full lg:w-1/2 whitespace-pre-line">
            1.UVODNÉ USTANOVENIA
            1.1. Sebastián Mackay, Mikovíniho 5 04011 Košice, zapísaná v Živnostenskom registri Okresného súdu Košice I., IČO: 55339026
            , DIČ: 1125499243, (ďalej len ,,predávajúci“) prevádzkuje internetový obchod na stránke http://kryptokurz.sk.
            
            1.2. Ochranu osobných údajov zabezpečuje prevádzkovateľ v súlade so SMERNICOU EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/680 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov príslušnými orgánmi na účely predchádzania trestným činom, ich vyšetrovania, odhaľovania alebo stíhania alebo na účely výkonu trestných sankcií a o voľnom pohybe takýchto údajov a o zrušení rámcového rozhodnutia Rady 2008/977/SVV, NARIADENÍM EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov, ktorým sa zrušuje smernica 95/46/ES (všeobecné nariadenie o ochrane údajov) a Zákonom č. 18/2018 Z. z. Zákon o ochrane osobných údajov a o zmene a doplnení niektorých zákonov.
            
            1.3. Prevádzkovateľ prehlasuje, že ako správca vašich osobných údajov spĺňa všetky zákonné povinnosti vyžadované platnou slovenskou a európskou legislatívou, najmä zákon o ochrane osobných údajov a nariadenie GDPR, a teda:
            
            bude vaše osobné údaje spracovávať len na základe platného právneho dôvodu, a to predovšetkým oprávneného záujmu, plnenia zmluvy, zákonnej povinnosti či udeleného súhlasu,
            
            plnením podľa článku 13 GDPR informačnej povinnosti ešte pred zahájením spracovávania osobných údajov,
            
            umožní vám a bude vás podporovať v uplatňovaní a plnení vašich práv podľa zákona o ochrane osobných údajov a nariadenia GDPR.
            
            1.4. Prevádzkové hodiny, v priebehu ktorých je možné telefonicky na telefónnom čísle +421948301924 kontaktovať osobu zodpovednú za prevádzku e-shopu a uplatňovanie Vašich práv podľa zákona o ochrane osobných údajov a nariadenia GDPR sú: Pondelok- Piatok 9:00 – 18:30 v bežné pracovné dni mimo dní pracovného pokoja a sviatkov.
            
            V prípade akýchkoľvek požiadaviek a informácií je možné kedykoľvek kontaktovať prevádzkovateľa e-mailom na e-mailovú adresu: sebastian@kryptokurz.sk. Tieto údaje môžu byť kedykoľvek pozmenené alebo aktualizované.
            
            Osoba zodpovedajúca za dodržiavanie zásad na ochranu osobných údajov: Sebastián Mackay.
            
            2. SPRACOVÁVANIE OSOBNÝCH ÚDAJOV
            2.1. Prevádzkovateľ chráni práva fyzických osôb pred neoprávneným spracúvaním ich osobných údajov. Ochrana sa vzťahuje na spracúvanie osobných údajov vykonávané úplne alebo čiastočne automatizovanými prostriedkami a na spracúvanie osobných údajov inými než automatizovanými prostriedkami, ak ide o osobné údaje, ktoré tvoria súčasť informačného systému alebo sú určené na to, aby tvorili súčasť informačného systému podľa § 3 ods. 1 zákona o ochrane osobných údajov.
            
            2.2. Osobnými údajmi sú údaje týkajúce sa identifikovanej fyzickej osoby alebo identifikovateľnej fyzickej osoby, ktorú možno identifikovať priamo alebo nepriamo, najmä na základe všeobecne použiteľného identifikátora, iného identifikátora, ako je napríklad meno, priezvisko, identifikačné číslo, lokalizačné údaje, alebo online identifikátor, alebo na základe jednej alebo viacerých charakteristík alebo znakov, ktoré tvoria jej fyzickú identitu, fyziologickú identitu, genetickú identitu, psychickú identitu, mentálnu identitu, ekonomickú identitu, kultúrnu identitu alebo sociálnu identitu.
            
            2.3. Chránime osobné údaje v maximálnej možnej miere pomocou moderných technológií, ktoré odpovedajú stupňu technického rozvoja. Prijali sme a udržujeme všetky možné (aktuálne známe) technické a organizačné opatrenia, ktoré zamedzujú zneužitiu, poškodeniu alebo zničeniu vašich osobných údajov.
            
            2.4. Prevádzkovateľ je povinný bez zbytočného odkladu oznámiť dotknutej osobe porušenie ochrany osobných údajov, ak takéto porušenie ochrany osobných údajov môže viesť k vysokému riziku pre práva fyzickej osoby. Prevádzkovateľ je povinný oznámiť Úradu na ochranu osobných údajov porušenie ochrany osobných údajov do 72 hodín po tom, ako sa o ňom dozvedel.
            
            3. ROZSAH A ÚČEL SPRACOVÁVANÝCH VAŠICH OSOBNÝCH ÚDAJOV
            3.1. Prevádzkovateľ spracúva osobné údaje na základe platného právneho dôvodu, a to predovšetkým oprávneného záujmu, plnenia zmluvy, zákonnej povinnosti či udeleného súhlasu za účelom ich spracovania, ktorým je predovšetkým ich získavanie, zaznamenávanie usporadúvanie, uchovávanie, zmeny, vyhľadávanie, využívanie, obmedzenie, vymazanie na základe zásad ochrany osobných údajov v znení právnych predpisov uvedených v čl. 1 ods. 1.2.
            
            3.2. Rozsah a účel osobných údajov, ktoré spracúvame:
            
            meno, priezvisko, adresa trvalého pobytu / obchodné meno, miesto podnikania, IČO, IČ DPH, DIČ, Discord užívateľské meno: za účelom vystavenia faktúry a súvisiacich dokladov, poskytnutia služby alebo dodania tovaru a za účelom vedenia správneho a riadneho účtovníctva.
            
            Právnym základom je plnenie zákonných povinností prevádzkovateľa vyplývajúcich z daňových zákonov, zákona o účtovníctve, Občianskeho zákonníka a ďalších legislatívnych predpisov SR a EÚ.
            
            e-mail: za účelom komunikácie so zákazníkom o vybavení objednávky, samotné doručenie objednávky elektronického obsahu.
            
            Právnym základom pre spracovanie týchto osobných údajov je plnenie zmluvy.
            
            e-mail: za účelom priameho marketingu - zasielania obchodných a marketingových informácií (newsletterov), noviniek, darčekov.
            
            Právnym základom je oprávnený záujem, pretože odôvodnene predpokladáme, že vás naše novinky zaujímajú, a to po dobu pokiaľ budeme oprávnene podnikať. Odhlásiť sa je možné kedykoľvek použitím odhlasovacieho odkazu v každom zaslanom e-maile alebo e-mailom na adresu sebastian@kryptokurz.sk,
            
            platobné údaje: účelom je technické zabezpečenie platby.
            
            4. COOKIES
            4.1.Pri návšteve Webovej lokality ste anonymní. Každý prístup používateľov na Webovú lokalitu a každé odoberanie súborov znamená, že sú o tomto procese vždy zbierané údaje do súboru protokolu umiestneného na našom serveri, a to bez osobnej relevancie.
            
            ukladanie má nasledovnú formu: internetový protokol, adresa/IP adresa, stránka, z ktorej bol súbor vyžiadaný, dátum, čas, typ prehľadávača a operačný systém, navštívená stránka, množstvo prenesených údajov, stav prístupu (súbor prenesený, súbor nebol nájdený, a pod.). Tieto údaje slúžia na vytváranie štatistík, ktoré pomáhajú spoločnosti Sebastián Mackay - SEMA prispôsobiť svoje služby vašim potrebám.
            
            4.2. Sebastián Mackay - SEMA zbiera, zachytáva a využíva len údaje, ktoré poskytujete pri používaní Webovej lokality v rozsahu vymedzenom vaším prihlásením alebo vašou registráciou. Pri prihlásení a pri používateľskej registrácii je potrebné, aby ste poskytli len svoju emailovú adresu a heslo. Vo všetkých ostatných prípadoch platí, že akékoľvek ďalšie vyhodnocovanie údajov prebieha v maximálnej možnej miere anonymným spôsobom.
            
            4.3. Cookies sú informácie, ktoré slúžia na identifikáciu a rozlišovanie užívateľov a návštevníkov stránok. Ich cieľom je uľahčiť užívateľom používanie služieb. Napríklad tým, že sa užívateľ nemusí prihlasovať do účtu pri každej návšteve stránky.
            
            4.4 Prevádzkovateľ využíva cookies na stránkach členskej zóny (https://kryptokurz.sk/) nasledovne:
            
            systém ukladá tieto informácie:
            
            - prihlasovacie meno
            
            - heslo (v šifrovanej podobe)
            
            - Discord užívateľské meno
            
            4.5 Prevádzkovateľ využíva cookies na stránkach https://kryptokurz.sk/ nasledovne:
            
            - session - obsahuje unikátny kód produktu, ktorý si vyberie návštevník za účelom zrealizovania objednávky. Tento kód je zapamätaný počas doby, kým zrealizuje objednávku, alebo dokým neopustí webstránku. Pod týmto kódom sa spracuje aj doklad o úhrade.
            
            Tieto cookies neobsahujú žiadne osobné údaje.
            
            4.6. Prevádzkovateľ využíva cookies v nasledujúcich informačných systémoch:
            
            Google Analytics, ktorú poskytuje spoločnosť Google, Inc. („Google")
            
            Google Analytics využíva tzv. cookies, ktoré predstavujú textové súbory umiestnené vo vašom počítači. Ich účelom je pomôcť analyzovať spôsoby využitia internetovej stránky zo strany používateľov. Informácie o použití stránky (vrátane vašej IP adresy), ktoré takýto súbor vytvorí, sa odošlú spoločnosti Google. Google využije tieto informácie na hodnotenie využitia internetovej stránky. Výsledkom hodnotenia sú správy o aktivitách na internetovej stránke pre jej správcov. Použitie súborov „cookie" môžete odmietnuť zvolením príslušných nastavení vo vašom prehliadači.
            
            5. DOBA UCHOVÁVANIA OSOBNÝCH ÚDAJOV
            5.1. Osobné údaje prevádzkovateľ uchováva na účely uvedené v čl. 3 ods. 3.2. po dobu 10 rokov, ak osobitné právne predpisy (daňové, účtovné, pracovnoprávne predpisy a ďalšie legislatívne predpisy SR a EÚ) neustanovujú inak alebo pokiaľ svoj súhlas neodvoláte (za podmienky ak prevádzkovateľ nie je osobitnými predpismi naďalej povinný tieto údaje archivovať).
            
            6. PRÁVA DOTKNUTÝCH OSÔB
            6.1. Dotknuté osoby sú osoby, ktorých osobné údaje prevádzkovateľ spracováva. Majú právo na informácie, ktoré sú obsiahnuté už v tomto dokumente so zásadami ochrany osobných údajov.
            
            6.2. Dotknuté osoby majú právo na prístup k údajom môžu prevádzkovateľa kedykoľvek vyzvať na predloženie ich osobných údajov a účelu ich spracovania a prevádzkovateľ je povinný v lehote 30 dní výzve vyhovieť.
            
            6.3. Ako dotknutá osoba máte právo na opravu, doplnenie a zmenu osobných údajov ak vaše osobné údaje už nebudú aktuálne alebo úplné. Prevádzkovateľ je povinný oznámiť príjemcovi opravu osobných údajov, vymazanie osobných údajov alebo obmedzenie spracúvania osobných údajov.
            
            6.4. Právo na obmedzenie spracovania môžete využiť, pokiaľ sa domnievate, že spracovávame vaše nepresné údaje, domnievate sa, že spracovávame vaše údaje nezákonne, ale nechcete všetky údaje zmazať alebo pokiaľ ste vzniesli námietku proti spracovaniu.
            
            6.5. Právo obmedziť rozsah osobných údajov alebo účel spracovania. (Napríklad odhlásením z newsletteru obmedzujete účel spracovania pre zasielanie obchodných informácií.)
            
            6.6. Právo na prenos osobných údajov k inému prevádzkovateľovi. Dotknutá osoba má právo získať osobné údaje, ktoré sa jej týkajú a ktoré poskytla prevádzkovateľovi, v štruktúrovanom, bežne používanom a strojovo čitateľnom formáte a má právo preniesť tieto osobné údaje ďalšiemu prevádzkovateľovi, ak je to technicky možné.
            
            6.7. Právo na výmaz (byť zabudnutý). V tomto prípade vymažeme všetky vaše osobné údaje zo svojich systémov i zo systémov všetkých spracovateľov a záloh v súlade so zákonnými ustanoveniami, na základe Vašej písomnej autorizovanej požiadavky, pokiaľ to nie je v rozpore so zákonnými povinnosťami ohľadne uchovávania údajov.
            
            6.8. Právo podať sťažnosť na Úrade pre ochranu osobných údajov. V prípade podozrenia, že s vašimi údajmi nezachádzame v súlade so zákonom, máte právo sa so svojou sťažnosťou kedykoľvek obrátiť na Úrad pre ochranu osobných údajov.
            
            6.9. Odhlásenie zo zasielania newsletterov a obchodných informácií. E-maily s informáciami, inšpiráciami, článkami, produktmi, službami vám zasielame, pokiaľ ste náš zákazník, na základe nášho oprávneného záujmu. Pokiaľ našim zákazníkom ešte nie ste, posielame vám ich na základe vášho súhlasu. V obidvoch prípadoch môžete ukončiť odber našich e-mailov stlačením odhlasovacieho odkazu v každom zaslanom e-maile s platnosťou do budúcnosti podľa pokynov uvedených v e-maily.
            
            6.10. Dotknutá osoba má právo namietať spracúvanie jej osobných údajov a prevádzkovateľ nesmie ďalej spracúvať osobné údaje, ak nepreukáže nevyhnutné oprávnené záujmy na spracúvanie osobných údajov, ktoré prevažujú nad právami alebo záujmami dotknutej osoby, alebo dôvody na uplatnenie právneho nároku.
            
            7. SPROSTREDKOVATELIA
            7.1. Prevádzkovateľ spolupracuje na základe zmlúv o spolupráci s ďalšími subjektmi. To aby boli Vaše údaje v bezpečí zabezpečuje prevádzkovateľ prostredníctvom sprostredkovateľských zmlúv uzavretých s:
            
            ACTIVE 24, s.r.o.
            
            Sokolovská 394/17, 186 00 Praha 8
            
            IČO: 35 564 555,
            
            ktorý zabezpečuje správu webu.
            
            Sebastián Mackay - SEMA.
            
            Mikovíniho 5, Košice 04011
            
            IČO: 55339026, DIČ: 1125499243 ,
            
            ktorý zabezpečuje.
            
            Ďalšími sprostredkovateľmi sú spoločnosti, s ktorými máme uzavreté zmluvy v nasledujúcom znení.
            
            Google Analytics: https://business.safety.google/adsprocessorterms/
            
            8. ODKAZY TRETÍCH STRÁN
            8.1. Tieto ustanovenia o ochrane osobných údajov sa vzťahujú na všetky služby ponúkané na webových lokalitách prevádzkovaných Sebastián Mackay - SEMA , avšak nie na stránky, ktoré patria iným poskytovateľom a na ktoré môže Webová lokalita odkazovať. V takom prípade budú ohľadne ochrany dát platné podmienky príslušného poskytovateľa.
            
            8.2. Webová lokalita môže z času na čas obsahovať aj reklamy tretích strán a interaktívne prepojenia na internetové prezentácie tretích strán, za ktoré nenesie Sebastián Mackay - SEMA nijakú zodpovednosť. Sebastián Mackay - SEMA najmä nemá nijaký vplyv na obsah a dizajn externých stránok alebo internetových prezentácií, na ktoré môžete cez tieto stránky prejsť. Za obsah a dizajn týchto internetových prezentácií, ako aj za ich súlad so Zákonom o ochrane osobných údajov sú zodpovední výlučne príslušní poskytovatelia.
            
            8.3. Zadávatelia reklám z času na čas používajú technológie, ktorými sa reklamy zobrazujúce sa na stránkach Sebastián Mackay - SEMA posielajú priamo do vášho prehľadávača, dôsledkom čoho sa automaticky prenáša vaša IP adresa. Príslušní zadávatelia reklamy alebo spoločnosti občas takisto používajú súbory cookies, ako aj iné technické prostriedky na hodnotenie efektivity ich reklám a na vylepšenie ich obsahu. Takéto činnosti osobitne, avšak nie výlučne, ovplyvňujú zaraďovanie internetových stránok do istých záujmových kategórií podľa vášho používania internetu.
            
            V tomto prípade nedochádza k nijakému spojeniu týchto informácií s vaším menom, adresou, telefónnym číslom alebo emailovou adresou. Sebastián Mackay - SEMA nemá na tento proces nijaký vplyv. Zaobchádzanie s údajmi týmito tretími stranami preto nie je súčasťou tohto prehlásenia o ochrane osobných údajov.
            
            8.4. Neposkytujeme, neobchodujeme ani nepredávame Vaše osobné údaje žiadnym tretím stranám. Odovzdanie vašich osobných údajov štátnym organizáciám prebieha len na základe zákona, právoplatných súdnych alebo úradných rozhodnutí v súlade s právnymi predpismi Slovenskej republiky a Európskej Únie.
        </section>
    </div>
  </CenteredContentLayout>
</Layout>
