---
import CenteredContentLayout from "../layouts/CenteredContentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt">
  <CenteredContentLayout>
    <div class="flex flex-col justify-center  items-center p-4">
        <p class="text-white text-3xl font-semibold py-2 text-center">Všeobecné Obchodné Podmienky</p>
        <p class="text-white text-3xl font-semibold py-2 text-center">(ďalej len “VOP”)</p>
        
        <section class="text-kryptokurz-gray w-full lg:w-1/2 whitespace-pre-line">
            1. UVODNÉ USTANOVENIA
1.1. Sebastián Mackay, Mikovíniho 5, 04011 Košice, Slovenská Republika, v živnostenskom registri Okresného súdu Košice I., IČO: 55339026, DIČ: 1125499243 , (ďalej len ,,predávajúci“ ) prevádzkuje internetový obchod na stránke http://kryptokurz.sk.

1.2. Kontaktovať osobu zodpovednú za prevádzku e-shopu je možné v bežné pracovné dni mimo dní pracovného pokoja a sviatkov na emailovej adrese sebastian@kryptokurz.sk.

Kontaktná osoba pre e-shop: Sebastián Mackay, telefonický kontakt: +421948301924. Tieto údaje môžu byť kedykoľvek pozmenené alebo aktualizované.

1.3. Kupujúcim sa rozumie:

a) fyzická soba- podnikateľ, ktorý je podnikateľom podľa § 2 ods.2 zákona č. 513/1991 Zb. Obchodný zákonník v platnom znení alebo,

b) právnická osoba alebo,

c) fyzická osoba, ktorá dovŕšila vek 18 rokov a má plnú spôsobilosť na právne úkony (ďalej len ,,kupujúci“).

1.4. Týmito VOP sa spravujú právne vzťahy, ktoré vznikajú medzi predávajúcim a kupujúcim v súvislosti s predajom prostredníctvom e-shopu na stránke http://kryptokurz.sk.

2. OBJEDNÁVANIE PRODUKTOV
2.1. Po vstupe do e-shopu ( obchodu) si kupujúci prehliada produkty. Stránky e-shopu poskytujú stručný popis produktu a uvádzajú cenu výrobku. Náhľadom na konkrétny produkt sa mu zobrazí detail produktu. Každý produkt je možné zakúpiť aj na podstránkach kryptokurz.sk s postupom - Registrácia (vytvorenie účtu) -> Prihlásenie -> Výber produktu -> Vyplnenie formulára -> Úhrada -> Potvrdenie zrealizovania objednávky

2.2. Po výbere produktu kupujúci prechádza k vyplneniu objednávky kliknutím na ,,Prihlásiť sa“. Pre dokončenie objednávky je kupujúci povinný vyplniť fakturačné údaje a požadovaný spôsob platby. Objednávka sa stáva záväznou po kliknutí na ,,Checkout“ a následne bude o objednávke kupujúci informovaný notifikačným e-mailom.

2.3. Kupujúci môže reklamovať objednávku, ktorá ešte nebola vybavená a to až do lehoty doručenia produktu. V tomto prípade je povinný kontaktovať predávajúceho na e-mailovej adrese sebastian@kryptokurz.sk. Ak už kupujúci uhradil kúpnu cenu je povinný oznámiť to predávajúcemu. Predávajúci mu najneskôr do 7 pracovných dní odo dňa doručenia stornovania objednávky vráti peniaze na bankový účet z ktorého mu bola kúpna cena uhradená.

2.4. Predávajúci si vyhradzuje právo stornovať objednávku kupujúceho na produkt, ak produkt predávajúci nebude schopný dodať z dôvodu nedostupnosti (vypredania zásob alebo stiahnutia z ponuky). O stornovaní objednávky bude predávajúci bezodkladne informovať kupujúceho telefonicky alebo e-mailom. V prípade úhrady kúpnej ceny alebo jej časti budú kupujúcemu finančné prostriedky vrátené do 14 dní na účet, z ktorého zaplatil, pokiaľ sa kupujúci a predávajúci nedohodnú inak.

2.5. Kupujúci môže stornovať objednávku, ktorá ešte nebola vybavená a to len do lehoty elektronického odoslania elektronického obsahu. V tomto prípade je povinný kontaktovať predávajúceho na e-mailovej adrese sebastian@kryptokurz.sk. Ak už kupujúci uhradil kúpnu cenu je povinný oznámiť to predávajúcemu. Predávajúci mu najneskôr do 7 pracovných dní odo dňa doručenia stornovania objednávky vráti peniaze na bankový účet z ktorého mu bola kúpna cena uhradená.

2.6. Predávajúci si vyhradzuje právo stornovať objednávku kupujúceho na elektronický obsah, ak ho predávajúci nebude schopný dodať z dôvodu nedostupnosti (stiahnutia z ponuky). O stornovaní objednávky bude predávajúci bezodkladne informovať kupujúceho telefonicky alebo e-mailom. V prípade úhrady kúpnej ceny alebo jej časti budú kupujúcemu finančné prostriedky vrátené do 14 dní na účet, z ktorého zaplatil, pokiaľ sa kupujúci a predávajúci nedohodnú inak.

3. PODMIENKY DODANIA A PLATBY
3.1. Kupujúci je povinný zaplatiť predávajúcemu za produkt/produkty kúpnu cenu. Cena prepravy nie je zahrnutá v cene tovaru.

3.2. Predávajúci sa zaväzuje dodať tovar v čo najkratšom termíne, najneskôr však v lehote 14 pracovných dní od uhradenia kúpnej ceny, alebo od prijatia objednávky predávajúcim v prípade zvolenej úhrady kúpnej ceny na dobierku. V prípade, že objednaný tovar nebude možné zaslať podľa vyššie uvedenej dodacej lehoty, oznámi predávajúci predpokladaný termín dodania. Kupujúci najneskôr do 7 dní informuje predávajúceho, či naďalej trvá na dodaní tovaru.

3.3. Predávajúci sa zaväzuje dodať elektronický obsah v čo najkratšom termíne, najneskôr však v lehote 3 pracovných dní od uhradenia kúpnej ceny. V prípade, že objednaný elektronický obsah nebude možné elektronicky zaslať podľa vyššie uvedenej dodacej lehoty, oznámi predávajúci predpokladaný termín dodania. Kupujúci najneskôr do 7 dní informuje predávajúceho, či naďalej trvá na dodaní elektronického obsahu.

3.4. Predávajúci účtuje kupujúcemu poštovné vo výške 3,00 € bez ohľadu na spôsob platby a spôsob dodania.

3.5. Spôsob platby:

a) dobierka alebo

b) bankový prevod

c) platba kartou ( Visa a MasterCard )

3.6. Dodanie je možné len Slovenskou poštou 1. triedou.

3.7. Tovar označený ako „akcia“, prípadne uvedený v sekcii „výpredaj“ a podobne má predávajúci k dispozícii v obmedzenom množstve, teda len do vypredania zásob.

3.8. Ak kupujúci bezdôvodne odmietne prevziať tovar alebo ho opakovane neprevezme, je predávajúci oprávnený si voči nemu uplatniť všetky náklady, ktoré mu v súvislosti s doručovaním vznikli.

3.9. Po vybavení objednávky predávajúci informuje kupujúceho o tom, že tovar bol odovzdaná odovzdaný na prepravu. O Stave objednávky bude kupujúci informovaný e-mailom.

3.10. Elektronický obsah bude kupujúcemu odoslaný formou e-mailu po prijatí platby na účet predávajúceho, v ktorom bude uvedený link na stiahnutie e- booku a priložená faktúra.

4. REKLAMÁCIA
4.1. Kupujúci je povinný po prevzatí tovaru, tovar riadne skontrolovať. V prípade zistenia rozdielov medzi tovarom uvedeným vo faktúre a skutočne dodaným tovarom, alebo ak je k zásielke pripojená nesprávna faktúra alebo faktúra chýba je kupujúci povinný o tom informovať predávajúceho bezodkladne prostredníctvom e-mailu na adrese sebastian@kryptokurz.sk alebo telefonicky na telefónnom čísle +421948301924 najneskôr do 2 dní od prevzatia.

4.2. Predávajúci zodpovedá za vady výrobku, ktoré má tovar pri prevzatí kupujúcim, alebo ktoré sa objavia v priebehu záručnej doby. Záručná doba je 24 mesiacov.

4.3. Záručná doba začína plynúť dňom prevzatia tovaru kupujúcim alebo dňom, kedy si kupujúci mal tovar prevziať a v rozpore so svojimi povinnosťami tovar neprevzal.

4.4. Ak sa vyskytne vada kupujúci má právo na bezplatné odstránenie vady riadne a včas alebo právo na výmenu vecí. Tovar, ktorý bol vymenený prechádza do vlastníctva predávajúceho.

4.5. Prirodzené opotrebovanie spôsobené povahou užívania tovaru nespôsobuje vznik zodpovednosti za vady.

4.6. Reklamácia musí mať písomnú formu a musí byť doručená predávajúcemu bezodkladne potom, čo kupujúci zistil existenciu vád. Reklamácia musí obsahovať popis vady tovaru, dátum prevzatia tovaru a údaje o osobe, ktorá chce uplatniť reklamáciu (meno a priezvisko, úplnú adresu, adresu elektronickej pošty, telefonický kontakt, resp. ak ide o podnikateľa obchodné meno). K reklamácií je nutné pripojiť príslušnú faktúru a reklamovaný tovar.

4.7. O spôsobe riešenia reklamácie bude predávajúci kupujúceho kontaktovať e-mailom alebo telefonicky a následne mu bude bezprostredne po ukončení reklamačného konania zaslaný reklamačný protokol ( e-mailom a poštou).

4.8. Kupujúci je povinný po prevzatí elektronického obsahu, e - book riadne skontrolovať. V prípade zistenia rozdielov medzi e- bookom uvedeným vo faktúre a skutočne odoslaným, alebo ak je k zásielke pripojená nesprávna faktúra alebo faktúra chýba je kupujúci povinný o tom informovať predávajúceho bezodkladne prostredníctvom e-mailu na adrese sebastian@kryptokurz.sk alebo telefonicky na telefónnom čísle +421948301924 najneskôr do 2 dní od prevzatia.

4.9. Ak sa vyskytne vada kupujúci má právo na bezplatné odstránenie vady riadne a včas alebo právo na výmenu vecí.

4.10. Po prijatí elektronického obsahu si predávajúci vyhradzuje s kupujúcim uzatvoriť dohodu o zákaze distribúcie, predaja, či akéhokoľvek použitia elektronického diela. Kupujúci sa zaväzuje, že nebude nakladať s dielom v rozpore s Autorským zákonom.

Náležitosti odstúpenia od zmluvy pri elektronickom obsahu

4.11. Na základe §7 odsek 6, písm. l kupujúci nemôže odstúpiť od zmluvy predmetom ktorej je poskytovanie elektronického obsahu inak ako na hmotnom nosiči, ak sa jeho poskytovanie začalo s výslovným súhlasom spotrebiteľa a spotrebiteľ vyhlásil, že bol riadne poučený o tom, že vyjadrením tohto súhlasu stráca právo na odstúpenie od zmluvy a súhlasí s VOP.

Náležitosti odstúpenia od zmluvy, predmetom, ktorej je poskytovanie služieb

4.12. V zmysle ust. § 7 ods. 6 písm. k) zákona č. 102/2014 Z.z. o ochrane spotrebiteľa pri predaji tovaru alebo poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov predávajúceho, nemôže spotrebiteľ odstúpiť od zmluvy, predmetom ktorej je poskytnutie služieb súvisiacich s činnosťami v rámci voľného času a podľa ktorej sa predávajúci zaväzuje poskytnúť tieto služby v dohodnutom čase alebo v dohodnutej lehote. Na základe uvedeného nie je v prípade zakúpenia vstupenky možné odstúpenie od zmluvy a žiadať vrátenie vstupného.

5. NÁLEŽITOSTI VRÁTENIA TOVARU
5.1. V prípade, ak je kupujúcim fyzická osoba uvedená v článku 1 bod 1.3 c) má právo odstúpiť od tejto zmluvy bez uvedenia dôvodu v lehote 14 dní.

5.2. Pri uplatnení práva na odstúpenie od zmluvy kupujúci informuje predávajúceho o svojom rozhodnutí odstúpiť od tejto zmluvy jednoznačným vyhlásením (napríklad listom zaslaným poštou alebo e-mailom) na adrese Mikovíniho 5 04011, Košice, alebo e-mailom na adrese sebastian@kryptokurz.sk.

5.3. Kupujúci je povinný vrátiť tovar nepoškodený, kompletný, nepoužívaný a podľa možnosti v originálnom obale.

5.4. Náklady na vrátenie tovaru znáša kupujúci.

5.5. Predávajúci je povinný vrátiť kupujúcemu kúpnu cenu najneskôr do 14 dní, odo dňa, kedy bolo predávajúcemu doručené oznámenie o odstúpení od tejto zmluvy. Vrátenie platby sa uskutoční rovnakým spôsobom ako použil kupujúci pri platbe predávajúcemu, a to po doručení tovaru na adresu Mikovíniho 5 04011, Košice.

6. SPRACOVANIE OSOBNÝCH ÚDAJOV
6.1. Prevádzkovateľ spracúva osobné údaje na základe platného právneho dôvodu, a to predovšetkým oprávneného záujmu, plnenia zmluvy, zákonnej povinnosti či udeleného súhlasu za účelom ich spracovania, ktorým je predovšetkým ich získavanie, zaznamenávanie usporadúvanie, uchovávanie, zmeny, vyhľadávanie, využívanie, obmedzenie, vymazanie na základe zásad ochrany osobných údajov v znení právnych predpisov uvedených v čl. 1 ods. 1.2.

6.2. Rozsah a účel osobných údajov, ktoré spracúvame:

meno, priezvisko, adresa trvalého pobytu / obchodné meno, miesto podnikania, IČO, IČ DPH, DIČ, Discord užívateľské meno: za účelom vystavenia faktúry a súvisiacich dokladov, poskytnutia služby alebo dodania tovaru a za účelom vedenia správneho a riadneho účtovníctva.

Právnym základom je plnenie zákonných povinností prevádzkovateľa vyplývajúcich z daňových zákonov, zákona o účtovníctve, Občianskeho zákonníka a ďalších legislatívnych predpisov SR a EÚ.

e-mail: za účelom komunikácie so zákazníkom o vybavení objednávky, samotné doručenie objednávky elektronického obsahu.

Právnym základom pre spracovanie týchto osobných údajov je plnenie zmluvy.

e-mail: za účelom priameho marketingu - zasielania obchodných a marketingových informácií (newsletterov), noviniek, darčekov.

Právnym základom je oprávnený záujem, pretože odôvodnene predpokladáme, že vás naše novinky zaujímajú, a to po dobu pokiaľ budeme oprávnene podnikať. Odhlásiť sa je možné kedykoľvek použitím odhlasovacieho odkazu v každom zaslanom e-maile alebo e-mailom na adresu sebastian@kryptokurz.sk,

platobné údaje: účelom je technické zabezpečenie platby.

6.3. Ochranu osobných údajov zabezpečuje prevádzkovateľ v súlade so SMERNICOU EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/680 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov príslušnými orgánmi na účely predchádzania trestným činom, ich vyšetrovania, odhaľovania alebo stíhania alebo na účely výkonu trestných sankcií a o voľnom pohybe takýchto údajov a o zrušení rámcového rozhodnutia Rady 2008/977/SVV, NARIADENÍM EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov, ktorým sa zrušuje smernica 95/46/ES (všeobecné nariadenie o ochrane údajov) a Zákonom č. 18/2018 Z. z. Zákon o ochrane osobných údajov a o zmene a doplnení niektorých zákonov.

6.4. Kupujúci sa oboznámil so zásadami spracovania a ochrany osobných údajov, ktorými sa táto zmluva riadi. Prečítať tu

7. ZÁVEREČNÉ USTANOVENIA
7.1. Tieto VOP nadobúdajú platnosť a účinnosť dňom ich zverejnenia na stránke kryptokurz.sk (Od 24.12.2022)

7.2. Predávajúci je oprávnený VOP kedykoľvek zmeniť alebo upraviť. Zmena VOP nadobúda platnosť a účinnosť dňom zverejnenia. Pri objednávaní produktu sú pre kupujúceho záväzné VOP platné a účinné v okamihu odoslania objednávky.

7.3. Tieto VOP sú neoddeliteľnou súčasťou kúpnej zmluvy uzatvorenej medzi predávajúcim a kupujúcim a sú pre obe strany záväzné.

7.4. Kupujúci sa je povinný oboznámiť sa so všeobecnými obchodnými podmienkami pred dokončením objednávky a zaväzuje sa ich dodržiavať.

7.5. Tieto VOP a taktiež zmluva uzatvorená na ich základe sa riadia právom Slovenskej republiky. Všetky spory, ktoré vzniknú z uzatvorených zmlúv na základe týchto budú rozhodovať miestne príslušné súdy v Slovenskej republike.

7.6. Predávajúci nespokytuje finančné poradenstvo, ani odporúčania investicií a nie je zodpovedný za stratu finančných prostriedkov a aktív kupujúceho. Predávajúci poskytuje vzdelanie v oblasti investovania do kryptomien a decentralizovaných financií. Kupujúci je zodpovedný za výskum a držanie jeho investicií a obchodov.
        </section>
    </div>
  </CenteredContentLayout>
</Layout>
